<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Node.js Login/Register</title>
    <!-- Include the Tailwind CSS styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body class="bg-gray-100">

    <div class="flex items-center justify-center min-h-screen">
        <div class="p-8 bg-white rounded-lg shadow-md w-96">
            <h1 class="mb-4 text-3xl font-bold text-center text-grey-800">
                Proyek Akhir Keamanan Jaringan A6
            </h1>
            <div class="text-center">
                <a href="/login" class="block w-full p-2 text-white bg-blue-500 rounded-full hover:bg-blue-600 focus:outline-none mb-4">
                    Login
                </a>
                <a href="/register" class="block w-full p-2 text-white bg-blue-500 rounded-full hover:bg-blue-600 focus:outline-none">
                    Register
                </a>
            </div>
        </div>
    </div>

</body>

</html>
