<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Include the Tailwind CSS styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body class="bg-gray-100">

    <div class="flex items-center justify-center min-h-screen">
        <div class="p-8 bg-white rounded-lg shadow-md w-96">
            <h1 class="mb-4 text-3xl font-bold text-center text-blue-600">
                Login
            </h1>
            <form class="space-y-4" action="/login" method="post">
                <div>
                    <label for="email" class="block text-sm font-semibold text-black">
                        Email
                    </label>
                    <input type="email" id="email" name="email"
                        class="w-full p-2 text-black border rounded focus:outline-none focus:border-blue-500" required>
                </div>
                <div>
                    <label for="password" class="block text-sm font-semibold text-black">
                        Password
                    </label>
                    <input type="password" id="password" name="pass"
                        class="w-full p-2 text-black border rounded focus:outline-none focus:border-blue-500" required>
                </div>
                <button type="submit"
                    class="w-full p-2 text-white bg-blue-500 rounded-full hover:bg-blue-600 focus:outline-none">
                    Submit
                </button>
            </form>
            <p class="mt-4 mb-8 text-sm text-gray-600">
                Don't have an account? <a href="/register"
                    class="font-semibold text-blue-500 hover:text-blue-800">Sign up here</a>
            </p>
        </div>
    </div>
    <!-- Link to Register -->
    <a href="/register">Register</a>

</body>

</html>
