<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- Include the Tailwind CSS styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body class="bg-gray-100">

    <div class="flex items-center justify-center min-h-screen">
        <div class="p-8 bg-white rounded-lg shadow-md w-96">
            <h1 class="mb-4 text-3xl font-bold text-center text-blue-600">
                Sign Up
            </h1>
            <form class="space-y-4" action="/register" method="post">
                <div>
                    <label for="username" class="block text-sm font-semibold text-black">
                        Username:
                    </label>
                    <input type="text" id="username" name="username"
                        class="w-full p-2 border rounded focus:outline-none focus:border-blue-500" required>
                </div>
                <div>
                    <label for="email" class="block text-sm font-semibold text-black">
                        Email:
                    </label>
                    <input type="email" id="email" name="email"
                        class="w-full p-2 border rounded focus:outline-none focus:border-blue-500" required>
                </div>
                <div>
                    <label for="password" class="block text-sm font-semibold text-black">
                        Password:
                    </label>
                    <input type="password" id="password" name="pass"
                        class="w-full p-2 border rounded focus:outline-none focus:border-blue-500" required>
                </div>
                <button type="submit"
                    class="w-full p-2 text-white bg-blue-500 rounded-full hover:bg-blue-600 focus:outline-none">
                    Sign Up
                </button>
            </form>
        </div>
    </div>
    <!-- Link to Login -->
    <a href="/login">Login</a>

</body>

</html>
